<!--
report.handlebars
This file is a part of curriculum-modeling project.
License: MIT
(c) Evgeny Simonenko, 2019
-->

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Учебные планы</title>
    <style>
        body {
            padding: 1em;
        }

        h1 {
            font-size: 16pt;
        }

        h2 {
            font-size: 14pt;
        }

        p {
            font-size: 14pt;
        }

        table th,
        td {
            font-family: 'Ubuntu Mono', 'Monospace';
            font-size: 14pt;
            border-top: 1px solid rgba(0, 0, 0, .12);
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            padding: 0.5em;
        }

        .summary {
            font-weight: bold;
        }

        .label {
            font-style: italic;
        }

        li {
            margin: 0.5em;
        }
    </style>
</head>

<body>
    <h1>Учебные планы</h1>

    <p>Оглавление:</p>

    <ul>
        {{#each profiles}}
        <li><a href="#{{id}}">{{title}}</a></li>
        {{/each}}
        <li><a href="#notes">Краткое описание дисциплин</a></li>
        <li><a href="#teachers">Преподаватели</a></li>
    </ul>

    <hr />

    {{#each profiles}}
    <h2><a name="{{id}}">{{title}}</a></h2>

    <p><span class="label">Уровень</span>: {{./level}}</p>

    <p><span class="label">Направление</span>: {{./direction}}</p>

    <p><span class="label">Аннотация</span>: {{./abstract}}</p>

    {{#each ./semesters}}

    <h3>{{./number}} семестр</h3>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <!--th>Семестр</th-->
                <th>Трудоёмкость</th>
                <th>КР</th>
                <th>КП</th>
                <th>Зачёт</th>
                <th>Экзамен</th>
            </tr>
        </thead>
        <tbody>
            {{#each ./courses}}
            <tr>
                <td><a href="#{{id}}">{{title}}</a></td>
                <!--td>{{./semester}}</td-->
                <td>{{./laboriousness}}</td>
                <td>{{#if ./coursework}}V{{/if}}</td>
                <td>{{#if ./project}}V{{/if}}</td>
                <td>{{#if ./credit}}V{{/if}}</td>
                <td>{{#if ./exam}}V{{/if}}</td>
            </tr>
            {{/each}}
            <tr class="summary">
                <td>Всего дисциплин: {{./courses_count}}</td>
                <td>{{./laboriousness}}</td>
                <td>{{./courseworks_count}}</td>
                <td>{{./projects_count}}</td>
                <td>{{./credits_count}}</td>
                <td>{{./exams_count}}</td>
            </tr>
        </tbody>
    </table>
    {{/each}}

    <h3>Общая статистика</h3>

    <p><span class="label">Общая трудоёмкость</span>: {{./laboriousness}}.</p>
    <p><span class="label">Количество дисциплин</span>: {{./courses_count}}.</p>
    <p><span class="label">Количество экзаменов</span>: {{./exams_count}}.</p>
    <p><span class="label">Количество зачётов</span>: {{./credits_count}}.</p>
    <p><span class="label">Количество курсовых работ</span>: {{./courseworks_count}}.</p>
    <p><span class="label">Количество курсовых проектов</span>: {{./projects_count}}.</p>

    <hr />
    {{/each}}

    <hr />

    <h2><a name="notes">Краткое описание дисциплин</a></h2>

    {{#each notes}}
    <h3><a name="{{./id}}">{{./title}}</a></h3>

    <p>{{./notes}}</p>

    <p>Зависит от:</p>

    <ul>
        {{#each dependencies}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/each}}

    <hr />

    <h2><a name="teachers">Преподаватели</a></h2>

    {{#each teachers}}
    <h3>{{./surname}} {{./name}}</h3>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Направление</th>
                <th>Семестр</th>
                <th>Трудоёмкость</th>
                <th>КР</th>
                <th>КП</th>
                <th>Зачёт</th>
                <th>Экзамен</th>
            </tr>
        </thead>
        <tbody>
            {{#each ./courses}}
            <tr>
                <td><a href="#{{./id}}">{{./title}}</a></td>
                <td>{{./direction}}</td>
                <td>{{./semester}}</td>
                <td>{{./laboriousness}}</td>
                <td>{{#if ./coursework}}V{{/if}}</td>
                <td>{{#if ./project}}V{{/if}}</td>
                <td>{{#if ./credit}}V{{/if}}</td>
                <td>{{#if ./exam}}V{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p><span class="label">Часов</span>: {{./laboriousness}}.</p>
    <p><span class="label">Дисциплин</span>: {{./courses_count}}.</p>
    <p><span class="label">Экзаменов</span>: {{./exams_count}}.</p>
    <p><span class="label">Зачётов</span>: {{./credits_count}}.</p>
    <p><span class="label">Курсовых работ</span>: {{./courseworks_count}}.</p>
    <p><span class="label">Курсовых проектов</span>: {{./projects_count}}.</p>

    <hr />
    {{/each}}

    <hr />

    <p>Report generated with <a href="https://github.com/easimonenko/curriculum-modeling">curriculum-modeling</a>.</p>
</body>

</html>
