<!--
report.handlebars
This file is a part of curriculum-modeling project.
License: MIT
(c) Evgeny Simonenko, 2019
-->

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Учебные планы</title>
    <style>
        body {
            padding: 1em;
        }

        h1 {
            font-size: 16pt;
        }

        h2 {
            font-size: 14pt;
        }

        p {
            font-size: 14pt;
        }

        table th,
        td {
            font-family: 'Ubuntu Mono', 'Monospace';
            font-size: 14pt;
            border-top: 1px solid rgba(0, 0, 0, .12);
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            padding: 0.5em;
        }

        .summary {
            font-weight: bold;
        }

        .label {
            font-style: italic;
        }
    </style>
</head>

<body>
    {{#each profiles}}
    <h1>{{./title}}</h1>

    <p><span class="label">Уровень</span>: {{./level}}</p>

    <p><span class="label">Направление</span>: {{./direction}}</p>

    {{#each ./semesters}}

    <h2>{{./number}} семестр</h2>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <!--th>Семестр</th-->
                <th>Трудоёмкость</th>
                <th>КР</th>
                <th>КП</th>
                <th>Зачёт</th>
                <th>Экзамен</th>
            </tr>
        </thead>
        <tbody>
            {{#each ./courses}}
            <tr>
                <td><a href="#{{id}}">{{title}}</a></td>
                <!--td>{{./semester}}</td-->
                <td>{{./laboriousness}}</td>
                <td>{{#if ./coursework}}V{{/if}}</td>
                <td>{{#if ./project}}V{{/if}}</td>
                <td>{{#if ./credit}}V{{/if}}</td>
                <td>{{#if ./exam}}V{{/if}}</td>
            </tr>
            {{/each}}
            <tr class="summary">
                <td>Всего дисциплин: {{./courses_count}}</td>
                <td>{{./laboriousness}}</td>
                <td>{{./courseworks_count}}</td>
                <td>{{./projects_count}}</td>
                <td>{{./credits_count}}</td>
                <td>{{./exams_count}}</td>
            </tr>
        </tbody>
    </table>
    {{/each}}

    <h2>Общая статистика</h2>

    <p><span class="label">Общая трудоёмкость</span>: {{./laboriousness}}.</p>
    <p><span class="label">Количество дисциплин</span>: {{./courses_count}}.</p>
    <p><span class="label">Количество экзаменов</span>: {{./exams_count}}.</p>
    <p><span class="label">Количество зачётов</span>: {{./credits_count}}.</p>
    <p><span class="label">Количество курсовых работ</span>: {{./courseworks_count}}.</p>
    <p><span class="label">Количество курсовых проектов</span>: {{./projects_count}}.</p>

    <hr />
    {{/each}}

    <hr />

    <h1>Краткое описание дисциплин</h1>

    {{#each notes}}
    <h2><a name="{{./id}}">{{./title}}</a></h2>

    <p>{{./notes}}</p>
    {{/each}}

    <hr />

    <h1>Преподаватели</h1>

    {{#each teachers}}
    <h2>{{./surname}} {{./name}}</h2>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Направление</th>
                <th>Семестр</th>
                <th>Трудоёмкость</th>
                <th>КР</th>
                <th>КП</th>
                <th>Зачёт</th>
                <th>Экзамен</th>
            </tr>
        </thead>
        <tbody>
            {{#each ./courses}}
            <tr>
                <td><a href="#{{./id}}">{{./title}}</a></td>
                <td>{{./direction}}</td>
                <td>{{./semester}}</td>
                <td>{{./laboriousness}}</td>
                <td>{{#if ./coursework}}V{{/if}}</td>
                <td>{{#if ./project}}V{{/if}}</td>
                <td>{{#if ./credit}}V{{/if}}</td>
                <td>{{#if ./exam}}V{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p><span class="label">Часов</span>: {{./laboriousness}}.</p>
    <p><span class="label">Дисциплин</span>: {{./courses_count}}.</p>
    <p><span class="label">Экзаменов</span>: {{./exams_count}}.</p>
    <p><span class="label">Зачётов</span>: {{./credits_count}}.</p>
    <p><span class="label">Курсовых работ</span>: {{./courseworks_count}}.</p>
    <p><span class="label">Курсовых проектов</span>: {{./projects_count}}.</p>

    <hr />
    {{/each}}

    <hr />

    <p>Report generated with <a href="https://github.com/easimonenko/curriculum-modeling">curriculum-modeling</a>.</p>
</body>

</html>
